@charset "UTF-8";

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body,ul,ol,li,p {
    padding: 0;
    margin: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline;
}
body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    overflow-x: hidden;
}
ol, ul {
    list-style: none;
}

a{
    text-decoration: none;
}

body {
    border-top: 0.5em ridge #F60;
    background-color: ivory;
}
section li {
    float: left;
}
.container{
    padding: 1% 1%;
}
.content{
    float: right;
}

.logo{
    width: 90%;
    margin: 0 auto;
}

.logo img{
    content: url("../images/logo-font.png");
    width: 100%;
}
.logo > a{
    width:100%;
    text-align: center;
    display: block;
    padding-top: 0.3em;
}
nav li::before,
nav li::after,
nav li:last-child::after{
    content: "";
    display: block;
    border-top: solid 1px #ff3e7a;
    box-shadow: 0 1px 1px white;
    -webkit-box-shadow: 0 1px 1px #1035EA;
}
nav li a{
    color: #1C2123;
    display: inline-block;
    padding: 1em 1em;
}

nav .mobile-menu{
    display: none;
}

.main-intro{
    padding-top: 2em;
}
.main-intro h2{
    text-align: center;
    font-size: 2em;
    color:#3B474C;
    font-family: cursive;
}
.main-intro p{
    word-break: break-all;
    padding: 1em;
    font-family: Calibri,cursive ;
}

.slider-nav ul{
    text-align: center;
    list-style: none;
    margin: 0 auto;
    padding-top: 1em;

}

.photo-list h2{
    font-size: 1em;
    background: url("../images/bg.png") center center repeat-x;
}
.photo-list ul{
    margin: 0 auto;
}
.photo-list ul li {
    float: left;
    width: 50%;
}

.photo-list h2 span{
    background: ivory;
    padding: 0 0.5em;
}

.photo-list{
    overflow: hidden;
    padding-bottom: 2%;
    text-align: center;
    position: relative;
}

.photo-list>ul{
    margin-top: 2em;
}

.photo-list ul li {
    padding: 0 1% 2% 0;
}

.photo-list strong{
    display: block;
    font-size: 1em;
    color: coral;
}

.photo-list>ul li img {
    border-radius: 0.5em;
    width: 100%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}
.photo-list>ul li:nth-child(1) img{
    content: url("../images/photo-01.jpg");
}
.photo-list>ul li:nth-child(2) img{
    content: url("../images/photo-02.jpg");
}
.photo-list>ul li:nth-child(3) img{
    content: url("../images/photo-03.jpg");
}
.photo-list>ul li:nth-child(4) img{
    content: url("../images/photo-04.jpg");
}
.photo-list>ul li:nth-child(5) img{
    content: url("../images/photo-05.jpg");
}
.photo-list>ul li:nth-child(6) img{
    content: url("../images/photo-06.jpg");
}

.photo-list>ul li img:hover{
    transform: scale(1.1);
}

.nav ul li{
    margin: 0 auto;
}

.nav>ul li:hover{
    background: rgba(255,102,0,0.8) ;
}

.nav ul li:hover a {
    color: white;
}

.nav ul li {
    border-radius: 5px;
}


@media (max-width: 768px){
    .slider-nav nav{
        width: 50%;
        float: right;
    }
    .logo > a {
        max-width: 170px;
    }
    .slider-nav .logo{
        width: 50%;
        float: left;
    }
    .content{
        font-size: 0.7em;
    }
    .nav {
        position: relative;
        min-height: 40px;
    }
    .nav ul {
        padding:0;
        width: 50%;
        min-width: 160px;
        position: absolute;
        top: 0;
        right: 0;
        border: solid 1px #E0CE9E;
        border-radius: 5px;
        box-shadow: 0 1px 2px rgba(0,0,0,.3);
    }
    .nav ul i{
        display: inline-block;
    }
    .nav ul li + li:hover i::before{
        content: "\f00c";
    }
    .nav li {
        display: none;
    }
    .nav .mobile-menu {
        display: block;
        background: rgba(245,247,207,0.8);
    }
    .nav>ul:hover{
        background: rgba(0,170,92,0.9);
    }
    .nav>ul:hover li{
        display: block;
    }
    .nav>ul:active li{
        display: block;
    }
    nav li:first-child::before,
    nav li:first-child::after{
        border: none;
    }

}

@media (max-width:992px) and (min-width: 768px){
    .slider-nav nav{
        width: 65%;
        float: right;
    }
    .slider-nav ul li{
        float: left;
        margin-left: 1%;
        width: 32.33%;
    }

    .slider-nav .logo{
        width: 35%;
        min-height: 5em;
        position: relative;
        z-index: 1;
        float: left;
    }
    span{
        font-size: 0.7em;
    }
    .nav ul li {
        border: solid 1px #E0CE9E;
        box-shadow: 0 1px 2px rgba(0,0,0,.3);
    }
    nav li::before,
    nav li::after,
    nav li:last-child::after{
        border: none;
    }
}

@media (min-width: 992px) {
    .logo{
        background: url(../images/logo-bg.jpg) top center no-repeat;
    }
    .logo>a{
        padding-top: 13em;
    }
    .logo img{
        width: auto;
    }
    .slider-nav{
        width: 35%;
    }
    .slider-nav nav{
        padding-top: 2em;
    }
    nav li::after{
        border: none;
    }
    .content{
        width: 65%;
    }
    .main-intro{
        padding-top: 8em;
    }
    .slider-nav,.content{
        float: left;
    }
    .nav ul li{
        width: 52%;
        float: none;
        font-size: 1.2em;
        line-height: 2em;
    }
    .photo-list ul li {
        float: left;
        width: 33.33%;
    }
}


.foot{
    clear: both;
    text-align: center;
    position: relative;
}


.foot {
    background: url("../images/bg.png") 0em top repeat-x;
}
.foot>span i{
    background: ivory;
    padding: 0 0.5em;
}
